.nav{
    position: fixed;
    top: 0px;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 1;
    box-sizing: border-box;
    transition: all 0.5s ease-in 0s;



}
.nav__content .logo {
    width: 100px;
    position: fixed;
    cursor: pointer;
    top: 5px;
    left: 15px;
    

}
.nav_avatar{
    width: 30px; 
    position: fixed;
    cursor: pointer;
    top: 5px;
    right: 20px;


}
.nav__content{
    display: flex;
    justify-content: space-between;
}
.nav__black{
    background-color: #000;

}